extends ../layout

block content
  h1= title
  p 
    | Are you sure you want to delete 
    em= article.title
    | ?
  form(action="/articles/" + article.id + "?_method=DELETE", method="post")
    a(href="/articles/" + article.id) No! Take me back!
    | 
    input(type="submit", value = "Yes, I am")