extends ../layout

block content
  h1= article.title
  include by_line
  p= article.body
  a(href="../") &larr; Back
  | | 
  a(href="/articles/" + article.id + "/edit") Edit Article
  | | 
  a(href="/articles/" + article.id + "/delete") Delete Article